@import 'tailwindcss';

@theme {
  --color-primary: #7b1e12;
  --color-secondary: #f9f9f9;
  --color-black: #000000;
  --color-white: #ffffff;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  ::selection {
    @apply bg-primary text-white;
  }


  body {
    @apply bg-secondary text-black;
  }

  a {
    @apply text-primary;
  }

  h1,
  h2 {
    font-family: var(--font-montserrat);
  }

}

@layer utilities {
  .font-alfa {
    font-family: var(--font-alfa);
  }
  .font-montserrat {
    font-family: var(--font-montserrat);
  }
}

.section-heading {
  @apply text-3xl sm:text-4xl font-extrabold text-[#781c12] border-b-4 border-[#a62c1a] inline-block pb-1 mb-12;
}

/* Smooth blend at the top of a section */
.section-blend::before {
  content: '';
  display: block;
  height: 4rem; /* height of the blend */
  width: 100%;
  background: linear-gradient(to top, var(--section-bg, white), var(--prev-bg, #e5e7eb));
}
